{% extends 'firstApp/BaseTemplate.html' %}


{% block page_header_title %}
    {{ page_title }}
{% endblock %}



{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Row</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.revcounter }}</td>
                <td>{{ object.product }}</td>
                <td>{{ object.qty }}</td>
                <td>
                    <a href="{% url 'store:delete-from-cart' object.product.pk %}" class="btn btn-sm btn-danger">
                        ❌
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Your Cart is Empty.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}