{% extends 'firstApp/BaseTemplate.html' %}


{% block page_header_title %}
    {{ page_title }}
{% endblock %}



{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Row</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.revcounter }}</td>
                <td>{{ object.product }}</td>
                <td>
                    <a class="deduct-btn btn btn-sm rounded btn-light" data-product-id="{{ object.product.pk }}">➖</a>
                    <span class="qty">{{ object.qty }}</span>
                </td>
                <td>
                    <a href="{% url 'store:delete-from-cart' object.product.pk %}" class="btn btn-sm btn-light">
                        ❌
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Your Cart is Empty.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container mt-2 row-cols-md-1">
        <a class="btn btn-primary" href="{% url 'store:finalize' %}">
            Order
        </a>
    </div>
{% endblock %}

{% block page-scripts %}
    <script>
        $(document).ready(function () {
            $('a.deduct-btn').click(function (event) {
                // Get the product id from the element that was clicked using
                // dataset attrib.
                const productId = event.currentTarget.dataset.productId;
                // Call the backends
                $.ajax({
                    url: "{% url 'store:deduct-from-cart' %}",
                    data: {
                        product_id: productId
                    },
                    method: 'post',
                    success: function (response) {
                        let qtySpan = $(event.currentTarget).next()[0];
                        qtySpan.innerHTML = response.qty;
                    },
                    error: function (response) {
                        console.log(response);
                        alert('حذف با خطا مواجه شد.')
                    }
                });
            });
        });
    </script>
{% endblock %}