{% extends 'firstApp/BaseTemplate.html' %}
{% block content %}
    <div class="container">
        <h1 class="h1">Edit User Profile</h1>
        <form method="post">
            {% csrf_token %}
            {% with form.first_name as field %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="control-label mb-1">
                        {{ field.label }}
                    </label>
                    <input id="{{ field.auto_id }}" type="text" name="{{ field.name }}" class="form-control" value="{{ field.initial }}">
                    {{ field.errors }}
                </div>
            {% endwith %}
            {% with form.last_name as field %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="control-label mb-1">
                        {{ field.label }}
                    </label>
                    <input id="{{ field.auto_id }}" type="text" name="{{ field.name }}" class="form-control" value="{{ field.initial }}">
                    {{ field.errors }}
                </div>
            {% endwith %}
            {% with form.email as field %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="control-label mb-1">
                        {{ field.label }}
                    </label>
                    <input id="{{ field.auto_id }}" type="email" name="{{ field.name }}" class="form-control" value="{{ field.initial }}">
                    {{ field.errors }}
                </div>
            {% endwith %}
            <button type="submit" value="Submit" class="btn btn-primary">✔ submit</button>
        </form>
    </div>
{% endblock %}