{% extends 'firstApp/BaseTemplate.html' %}
{% load static %}

{% block content %}
    <div class="col-4">
        <h2 class="h2">Filter By Category :</h2>
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{% url 'firstApp:post-by-category' category.0 %}">{{ category.0 }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        {% for post in object_list %}
            <div class="container col-8">
                <div class="col-md-12">
                    {% if post.intro_image %}
                        <a href="{% url 'firstApp:details' post.pk %}">
                            <img class="img-thumbnail" src="{{ post.intro_image.url }}">
                        </a>
                    {% else %}
                        <a href="{% url 'firstApp:details' post.pk %}">
                            <img class="img-thumbnail" src="{% static 'img/placeholder.jpg' %}">
                        </a>
                    {% endif %}
                    <div class="d-flex">
                        <h1 class="">
                            <a href="{% url 'firstApp:details' post.pk %}">{{ post.title }}</a>
                        </h1>
                    </div>
                    <p>{{ post.body|truncatewords:10 }}</p>
                    {#                    truncatwords just show ten words here and | is used to filter#}
                    {# like button for the post #}
                    <a class="btn btn-outline-dark text-danger likes-btn" data-post-id="{{ post.id }}">❤ Like (<span
                            id="like-count-{{ post.id }}">{{ post.likes }}</span> Likes) </a>
                    <div>
                        <span class="badge">Posted by {{ post.creator.username }} on {{ post.time }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for post in object_list2 %}
            <div class="container col-8">
                <div class="col-md-12">
                    {% if post.intro_image %}
                        <a href="{% url 'firstApp:details' post.pk %}">
                            <img class="img-thumbnail" src="{{ post.intro_image.url }}">
                        </a>
                    {% else %}
                        <a href="{% url 'firstApp:details' post.pk %}">
                            <img class="img-thumbnail" src="{% static 'img/placeholder.png' %}">
                        </a>
                    {% endif %}
                    <div class="d-flex">
                        <h1 class="">
                            <a href="{% url 'firstApp:details' post.pk %}">{{ post.title }}</a>
                        </h1>
                    </div>
                    <p>{{ post.body|truncatewords:10 }}</p>
                    {#                    truncatwords just show ten words here and | is used to filter#}
                    {# like button for the post #}
                    <a class="btn btn-outline-dark text-danger likes-btn" data-post-id="{{ post.id }}">❤ Like (<span
                            id="like-count-{{ post.id }}">{{ post.likes }}</span> Likes) </a>
                    <div>
                        <span class="badge">Posted by {{ post.creator.username }} on {{ post.time }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block page-scripts %}
    <script>
        $(document).ready(function () {
            $('.likes-btn').on('click', function (event) {
                console.log(
                    $(event.target)
                );
                var postId = $(event.target)[0].dataset.postId;
                console.log(postId);
                $.ajax({
                    url: '/like-post/' + postId,
                    method: 'POST',
                    success: function (response) {
                        var likes = response.likes;
                        $('#like-count-' + postId).html(likes);
                    }
                })
            })
        })
    </script>
{% endblock %}