{% extends 'firstApp/BaseTemplate.html' %}
{% load static %}
{% block content %}
    {% for product in object_list %}
        <div class="container">
            <div class="col-md-12">
                {% if product.intro_image %}
                    <a href="{% url 'firstApp:details' product.pk %}">
                        <img class="img-thumbnail" src="{{ product.intro_image.url }}">
                    </a>
                {% else %}
                    <a href="{% url 'firstApp:details' product.pk %}">
                        <img class="img-thumbnail" src="{% static 'img/placeholder.png' %}">
                    </a>
                {% endif %}
                <div class="d-flex">
                    <h1 class="">
                        <a href="{% url 'firstApp:details' product.pk %}">{{ product.name }}</a>
                    </h1>
                </div>
                <p>{{ product.description|truncatewords:10 }}</p>
                {#                    truncatwords just show ten words here and | is used to filter#}
                {# like button for the post #}
                <h4 class="h4">Price  : {{ product.price }}</h4>
                <a href="{% url 'store:add-to-cart' product.pk %}" class="btn btn-dark rounded">Add to cart 🛒</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}


